#root {
  width: 100%;
  height: 100%;
}

.chat-messages {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
  position: relative;
}

.chat-messages::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.scroll-to-bottom-btn {
  position: absolute;
  bottom: 16px;
  right: 16px;
  background-color: #10b981; /* Tailwind emerald-500 */
  color: white;
  padding: 8px 12px;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.scroll-to-bottom-btn:hover {
  background-color: #059669;
}

.chat-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.chat-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
